:root {
  --sections-padding: .5rem 2.5rem;
  --shadow: 8px 8px 8px rgba(20, 20, 20, .5);
  --link-clr: rgb(100, 150, 230);
  --visited-clr: rgb(190, 100, 230);
  --bg-img-clr: rgba(30, 30, 30, .7);
  --input-border-clr: rgb(100, 100, 100);
  --btn-clr: rgb(89, 109, 72);
  --btn-font-clr: rgb(230, 230, 230);
  --btn-hover-clr: rgb(109, 129, 92);
}

:root.dark {
  --bg-clr-1: rgb(30, 30, 30);
  --bg-clr-2: rgb(45, 45, 45);
  --font-clr-1: rgb(230, 230, 230);
  --font-clr-2: rgb(210, 210, 210);
  --input-bg-clr: rgb(20, 20, 20);
  --valid-clr: rgb(50, 150, 50);
  --err-clr: rgb(200, 50, 50);
  --optional-clr: rgb(50, 50, 200);
}

:root.light {
  --bg-clr-1: rgb(230, 230, 230);
  --bg-clr-2: rgb(245, 245, 245);
  --font-clr-1: rgb(30, 30, 30);
  --font-clr-2: rgb(60, 60, 60);
  --input-bg-clr: rgb(220, 220, 220);
  --valid-clr: rgb(150, 250, 150);
  --err-clr: rgb(250, 150, 150);
  --optional-clr: rgb(150, 150, 250);
}

:root > * {
  transition: all .17s;
}

@font-face {
  font-family: "Norse Bold";
  src: url("../assets/Norse-Bold.otf");
}

body {
  background-color: var(--bg-clr-1);
  color: var(--font-clr-1);
  font-family: sans-serif;
}

.content {
  display: flex;
}

.image-container {
  background-image: url("../assets/sunflowers.avif");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  flex-shrink: 0;
}

header {
  margin-top: 35vh;
  font-family: 'Norse Bold';
  font-size: 3rem;
  background: var(--bg-img-clr);
  color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 1.5rem;
}

header img {
  width: 100px;
  height: 130px;
}

footer {
  background: var(--bg-img-clr); 
  color: rgb(230, 230, 230);
  text-align: center;
  padding: 16px;
}

a {
  color: var(--link-clr);
}

a:visited {
  color: var(--visited-clr);
}

#theme-toggler {
  margin: var(--sections-padding);
  background-color: var(--font-clr-1);
  color: var(--bg-clr-1);
}

#theme-toggler:hover {
  background-color: var(--font-clr-2);
}

.dummy-text {
  height: 35vh;
  padding: var(--sections-padding);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dummy-text p {
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
}

.italic {
  font-style: italic;
  color: var(--font-clr-2);
}

.input-area {
  background: var(--bg-clr-2);
  padding: var(--sections-padding);
  box-shadow: var(--shadow);
}

.submit-area {
  margin: var(--sections-padding);
}

.pair {
  display: flex;
  gap: 5rem;
}

.pair p {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  border-radius: 5px;
  border: 1px solid var(--input-border-clr);
  background: var(--input-bg-clr);
  color: var(--font-clr-1);
  padding: 8px 12px;
}

input:focus {
  outline: 2px solid rgb(100, 100, 230);
  box-shadow: var(--shadow);
}

input + span::after {
  position: absolute;
  font-size: 0.8rem;
  right: 5px;
  top: -4px;
  letter-spacing: .15ch;
  padding: 2px 4px;
  border-radius: 2px;
}

input:required + span::after {
  content: 'required';
  background: var(--err-clr);
}

input:valid + span::after,
input:optional + span::after {
  content: 'ok';
  background: var(--valid-clr);
}

input:optional + span::after {
  content: 'optional';
  background: var(--optional-clr);
}

label {
  letter-spacing: 0.25ch;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.submit-area {
  background: var(--bg-clr-1);
  margin-top: 6vh;
  margin-bottom: 32vh;
}

button {
  background: var(--btn-clr);
  color: var(--btn-font-clr);
  border-radius: 6px;
  border: 0;
  padding: .75rem 2.5rem;
}

button:hover {
  background: var(--btn-hover-clr);
}

.submit-area a {
  color: var(--btn-clr);
  text-decoration: none;
}

.submit-area a:hover {
  color: var(--btn-hover-clr);
  text-decoration: none;
}
